* {
  margin: 0;
  padding: 0;
}
.outer_winner_list {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.winner_heading {
  font-size: 40px;
  width: 40px;
  color: black;
  font-weight: 600;
}
.PlayerList {
  width: 40%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wlist {
  padding: 10px 0px 10px 20px;
  background-color: green;
}
@media (width<=430px) {
  .winner_heading {
    font-size: 30px;
  }
}
